##########################
# System Files
##########################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

##########################
# IDEs and Editors
##########################

.idea
.vscode
*.sublime-project
*.sublime-workspace
nbproject

##########################
# Build & Runtime
##########################

node_modules/
build/
dist/
.cache/
.tmp/
pids/
logs/
results/
public/uploads/
public/uploads/*
!public/uploads/.gitkeep

##########################
# Config & Secrets
##########################

.env
.env.*
.tsbuildinfo
.eslintcache
.strapi
.strapi-updater.json
.strapi-cloud.json
.yarn/
.pnp.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

##########################
# Logs and DBs
##########################

*.log
*.sqlite
*.sqlite3
*.sql

##########################
# Tests & Coverage
##########################

coverage/

##########################
# Other binaries
##########################

*.7z
*.zip
*.rar
*.tar
*.gz
*.jar
*.exe
*.dll
*.so
*.o
*.out
*.pid
*.iso
